@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    font-family: "Nunito Sans", sans-serif;
  }

body {
    background-color:#fff ;
    color: #4087A8;
    margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    margin: 0;
    margin-top: 10vh;
    font-size: 60px;
    letter-spacing: .2em;
    text-transform: uppercase;
    transform: rotate(-1deg);
    font-weight: 300;
}

.main-subtitle {
    margin-top: -10px;
    margin-bottom: 40px;
    font-weight: 200;
}

.line-divider {
    width: 30%;
    border: 0.01px solid white;
}

.one-page-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.one-page-form-label {
    font-size: 30px;
    line-height: 40px;
}

.one-page-form-input {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.one-page-form-input::placeholder {
    font-size: 15px;
    opacity: 0.5;
    position: relative;
    top: -5px;
    color: #4087A8;
}

.one-page-form-label {
    font-size: 12px;
    margin-bottom: -10px;
}

.one-page-form-input {
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    color: #4087A8;
    font-family: "Baskervville, serif";
    transform: rotate(-1deg);
}

.one-page-form-line {
    width: 100%;
    color: #4087A8;
    border: 0.01px solid rgba(64, 135, 168, 0.4);
    transform: rotate(-1deg);
    margin-top: -5px;
}

.one-page-form-input:focus {
    outline: none;
}

.one-page-form-submit-button {
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
    border: none;
    color: #4087A8;
    font-size: 30px;
    font-weight: 700;
    font-family: "Baskervville, serif";
    background-color: #fff;
    transform: rotate(-1deg);
}

.one-page-form-submit-button:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
}

.picture_very_small {
    width: 30px;
    height: auto;
}

.picture_small {
    width: 40px;
    height: auto;
}

.picture_huge {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.items-exclaimer {
    margin: 0 auto;
    text-align: center;
    margin: 30px;
    color: #000;
    font-family: "Baskervville, serif";
    font-size: 20px;
}

.items-exclaimer span {
    color: #4087A8;
    font-family: "Baskervville, serif";
    font-weight: 700;
}

.items-placeholder {
    margin: 0 auto;
    text-align: center;
    margin: 30px;
}

.items-container {
    margin: 0 auto;
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 100px;
}

.item {
    text-transform: capitalize;
}